<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>模仿百度页面</title>
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <div class="contain">
        <div class="navLeft">
            <ul>
                <li><a href="#">新闻</a></li>
                <li><a href="#">hao123</a>
                </li>
                <li><a href="#">地图</a>
                </li>
                <li><a href="#">直播</a></li>
                <li><a href="#">视频</a></li>
                <li><a href="#">贴吧</a></li>
                <li><a href="#">学术</a></li>
                <li><a href="#">更多</a></li>
            </ul>
        </div>
        <div class="navRight">
           <p><a href="#">设置</a></p> 
            <ul>
                <li><a href="#">搜索设置</a></li>
                <li><a href="#">高级搜索</a></li>
                <li><a href="#">关闭预测</a></li>
                <li><a href="#">隐私设置</a></li>
                <li><a href="#">隐藏资讯</a></li>
            </ul>
        </div>
        <div class="box">
            <div class="img">
                <img src="result.png" alt="">
            </div>

            <div class="search">
                <a href="javascript:void(0)"><input type="text" class="input"></a>
                <input type="button" class="button" value="百度一下"></input>

            </div>
        </div>
    </div>


</body>

</html>