<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>模仿火狐静态页面</title>
</head>
<link rel="stylesheet" href="index.css">

<body>
    <div class="nav">
        <img src="./设置.jpg" alt="" class="set">
    </div>
    <div class="img">
        <div>
            <img src="./about-logo.png" alt="" class="img1">
        </div>

        <span>Firefox</span>
    </div>
    <div class="input_box">
        <img src="./百度图标.jpg" alt="" class="img2">
        <input type="text" id="input" placeholder="使用百度搜索，或者输入网址">
    </div>
    <div class="content">
        <ul>
            <li class="over">
                <img src="./百度图标.jpg" alt="" class="img3">
                <p>百度</p>
            </li>
            <li class="over">
                <img src="./百度图标.jpg" alt="" class="img3">
                <p>百度</p>

            </li>
            <li class="over">

                <img src="./百度图标.jpg" alt="" class="img3">
                <p>百度</p>
            </li>
            <li class="over">
                <img src="./百度图标.jpg" alt="" class="img3">
                <p>百度</p>
            </li>
            <li class="over">
                <img src="./百度图标.jpg" alt="" class="img3">
                <p>百度</p>
            </li>
            <li class="over">
                <img src="./百度图标.jpg" alt="" class="img3">
                <p>百度</p>
            </li>
        </ul>
    </div>
    <script src="./index.js"></script>
</body>

</html>