<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>flex三列布局</title>
    <link rel="stylesheet" href="./index.css">
</head>
<body>
    <div class="menu" id="nav">

        <ul class="left_menu">
            <img src="./logo.png" alt="">
            <li id="menu_li">博客</li>
            <li id="menu_li">专栏课程</li>
            <li id="menu_li">下载</li>
            <li id="menu_li">问答</li>
            <li id="menu_li">社区</li>
            <li id="menu_li">插件</li>
            <li id="menu_li">认证</li>
        </ul>
        <div class="search">
            <input type="text" class="input">
            <input type="button" class="button" value="搜索">
        </div>
        <ul class="right_menu">
            <img src="./头像.gif" alt="" class="Avatar">
            <li class="scope1">
                会员中心
                <div class="privilege">
                    <div>
                        <p>会员特权</p>
                    </div>
                    <ul class="privilege_ul1" id="1111">
                        <li class="privilege_li">
                            <p>限时抽奖</p>

                        </li>
                        <li class="privilege_li">
                            <p>领卷中心</p>
                        </li>
                        <li class="privilege_li">
                            <p>会员特权</p>
                        </li>
                        <li class="privilege_li">
                            <p>会员购</p>
                        </li>
                    </ul>
                    <div class="privilege_ul2" id="2222">
                        <p>领取限时优惠卷，最高可减八十元></p>
                        </p>
                        <button>领卷开通</button>
                    </div>
                </div>
            </li>
            <li class="scope2">收藏
                <div class="collect">
                    <div class=" collect_2">
                        <p>默认收藏夹</p>
                        <p>0</p>
                    </div>
                </div>

            </li>
            <li>动态</li>
            <li class="scope3">消息
                <ul class="two" id="two">
                    <li>评论</li>
                    <li>
                        点赞
                    </li>
                    <li>关注</li>
                    <li>系统通知</li>
                    <li>消息设置</li>
                </ul>
            </li>
            <li>创作</li>
        </ul>
    </div>
    <div class="container">
        <div class="left">
            <div class="left_1">
                于2019-01-21加入CSDN
            </div>
            <div class="left_2">
                <span class="font1">原力</span>
                <span class="font2">32</span>
                <span class="font3">分</span>
            </div>
            <div class="left_3">

                <div class="achievement">获得成就</div>
                
                    <div class="like_1">获得11次点赞</div>
                    <div class="like_1">获得0次评论</div>
                    <div class="like_1">获得23次收藏</div>
              

            </div>
            <div class="left_4">
                <div class="achievement"> 荣誉勋章</div>
                <div></div>
            </div>
            <div class="left_5">
                <div class="achievement">TA的专栏</div>
            </div>
        </div>
        <div class="middle ">
            <img src="./主图.png" alt=""class="middleImg">
            <div class="middlp">这里还没有内容哦~</div>
            <div class="middlp">海量精选技术知识，等你来发现</div>
            <button class="middleButton">立即挑选</button>
        </div>
        <!-- <div class="right"></div> -->
    </div>
    <script src="./index.js"> </script>
</body>

</html>